<div class="row">
  <div class="col-md-4">
    <div class="input-group mb-3">
      {{input value=searchQuery class='form-control' placeholder='Search...'}}
    </div>
  </div>
  <div class="col-md-8">
    <button type="button" class="float-right btn btn-primary btn-sm" {{action 'openAddProductForm'}}>Add product</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      {{#each this.model as |product|}}
        {{#if (includes product.title searchQuery)}}
          {{product-item product=product}}
        {{/if}}
      {{/each}}
    </div>
  </div> 
</div>

{{outlet}}
